.button {
  padding: 5px 11px;
  background-color: #4B51EF;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.button__submit {
  background-color: #52CF4F;
}

.button__disabled {
  background-color: #AFAFAF;
  cursor: auto;
}