.list {
  width: 100%;
}

.list__heading {
  font-size: 14px;
  margin-bottom: 15px;
}

@keyframes loading {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

.list__loading {
  animation: loading 0.8s infinite;
}